h1{
	text-align: center;
	font-size: 50px;
	font-family: arial;
	background-color: #a0a4b6;
	border-style: double;
}
.imagen{
	text-align: center;
}

h2{
	font-family: arial;
	background-color: #a0a4b6;
	border-style: outside;
	text-align: center;
	margin:25px;
	border-style: outset;
}
div:not(.summary){
	background-color: #bbbbbb;
	margin: 5px;
	
}
.summary{
	text-align: center;
	background-color: #dfd4c9;
	margin: 25px;
	border-style: outset;
}
h3{
	font-family: arial;
	padding-left: 10px;
}

li{
	font-family: arial;
	font-weight: bold;
}
p{
	padding-left: 20px;
}
.intro{
	padding: 5px;

}
a:hover{
	background: #8caba8;
	border-bottom: 1px;

}
.wrapper{
	border-style: outset
}


